body {
    font-family: 'Roboto';
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
.first-color {
    color: #000000;
    text-decoration: none;
}
.second-color {
    color: #4BCAFF;
}
.logo-content {
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    margin-top: 63px;
}
/*Top menu*/
.top-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #35444F;
    list-style-type: none;
    margin-top: 38px;
    color: #FFFFFF;
    font-size: 24px;
    padding: 0;
}
.menu-link {
    padding: 24px 32px 18px;
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    border-right: 1px solid #FFFFFF;
}
.menu-link:hover {
    background: #222F3A;
}
.menu-item:first-child {
    border-left: 1px solid #FFFFFF;
}

/*Left menu*/
.left-menu {
    display: flex;
    flex-direction: column;
    width: 334px;
    margin: 0;
    font-size: 27px;
    padding: 0;
    list-style: none;
    border: 1px solid #BFBFBF;
}
.left-menu-link{
    text-decoration: none;
    color: #495863;
    padding: 26px 44px 30px;
    box-sizing: border-box;
    display: block;
}
.left-menu-link:hover {
    background: #DBDBDB;
    color: #000000;
    padding: 26px 60px;
}
.main {
    display: flex;
    margin-top: 49px;
    gap: 52px;
}
.menu-left-menu {
    align-items: center;
    color: #485863;
}
/*Right content*/
 .right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-sheep {
    border: 1px solid #BFBFBF;
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    justify-content: center;
    transition: transform 0,5s;
}
.img-sheep:hover img {
    transform: scale(1.1);
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    width: 885;
    height: 529px;
    background: rgba(0, 0, 0, 0.0001);
    margin-left: 469px;
}
 .top-main {
    width: 320px;
    height: 381px;
}
/*Text*/
.text {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom:  34px;
}
.text:last-child {
    margin-bottom:  54px;
}
/*Footer*/
.footer {
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    height: 69px;
    padding: 0px;
    width: 1280px;
    align-items: center;
    line-height: 28px;
}
.footer-nav {
    display: flex;
    gap: 20px;
    list-style: none;
    height: 28px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-top: 20px;
    width: 875px;
    margin: 0;
}
.footer-text-link {
    font-size: 28px;
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    color: #0C1927;
    padding: 0;
}
.footer-text-link:hover {
    color: #3181A6;
    text-decoration: underline;
}
.footer-copyright {
    height: 69px;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #010101;
    padding-right: 40px;
    width: 190px;
} 








    


